# Required
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=

# Optional
LOOKBACK_DAYS=7

# Company 1
COMPANY1_NAME=
COMPANY1_NIP=
COMPANY1_SPREADSHEET_ID=
COMPANY1_KSEF_TOKEN=
COMPANY1_REFRESH_TOKEN=

# Company 2
COMPANY2_NAME=
COMPANY2_NIP=
COMPANY2_SPREADSHEET_ID=
COMPANY2_KSEF_TOKEN=
COMPANY2_REFRESH_TOKEN=
