# Required
SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=

# Optional
KSEF_BASE_URL=https://api.ksef.mf.gov.pl/v2
LOOKBACK_DAYS=7

# Company 1
COMPANY1_NAME=
COMPANY1_NIP=
COMPANY1_KSEF_TOKEN=
COMPANY1_REFRESH_TOKEN=
COMPANY1_SALES_TAB=C1_Sales
COMPANY1_PURCHASES_TAB=C1_Purchases
COMPANY1_SUBJECT_TYPE=Subject1

# Company 2
COMPANY2_NAME=
COMPANY2_NIP=
COMPANY2_KSEF_TOKEN=
COMPANY2_REFRESH_TOKEN=
COMPANY2_SALES_TAB=C2_Sales
COMPANY2_PURCHASES_TAB=C2_Purchases
COMPANY2_SUBJECT_TYPE=Subject1
